
// Colors
$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 0%, 1);
$nav-link-active: hsla(0, 29%, 53%, 1);
$deco: hsla(0, 29%, 53%, 0.6);
$background-color: hsla(30, 31%, 80%, 1);


// Padding and Margin
$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xlg: 35px;


// Transition
$transition: all .2s ease-in;


// Box Shadow
$box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);


// Font Weight
$bold: 700;